/* start variables */
:root {
  --grey: #9fa3a7;
  --bg-grey: #f5f5f8;
  --blue: #267df4;
  --green: #6fc754;
  --font-color: #26272d;
}
/* end varibales */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
input:focus {
  outline: none;
}
/* small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start components */
.main-heading {
  position: relative;
  text-align: center;
  margin: 0 0 60px;
  font-size: 2.5em;
  font-weight: normal;
  color: var(--font-color);
}
.main-heading::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: var(--blue);
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading + p {
  margin: 20px 0;
  text-align: center;
  font-size: 1.3em;
  color: var(--grey);
}
/* end components */

/* start main */
.main {
  position: relative;
  height: 100vh;
  background-image: url("../images/hero.jpg");
  background-size: cover;
}
.main::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background: #ffffff70;
  z-index: 0;
}
.main .container {
  height: 100%;
  z-index: 5;
  position: relative;
}
.main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: relative;
}
.main nav > a {
  font-size: 20px;
}
.main span {
  font-weight: bold;
}
.main nav > ul {
  display: flex;
  gap: 25px;
}
.main nav > ul > li:first-child a {
  color: var(--green);
}
.main nav > ul > li > a {
  transition: 0.3s;
}
.main nav > ul > li > a:hover {
  color: var(--green);
}
.main #pages {
  position: relative;
}
.main #pages > ul {
  position: absolute;
  background: white;
  padding: 10px;
  width: 120px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 3px solid var(--green);
  right: 0;
  top: 200%;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}
.main #pages:hover > ul {
  top: 105%;
  opacity: 1;
  display: flex;
  z-index: 0;
}
.main #pages > ul li a {
  transition: 0.3s;
  font-size: 0.9em;
  display: block;
  width: 100%;
}
.main #pages > ul li:hover a {
  text-indent: 8px;
  color: var(--green);
}
.main nav > i {
  display: none;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  .main nav > i {
    display: block;
  }
  .main nav > ul {
    position: absolute;
    left: -15px;
    display: none;
    flex-direction: column;
    top: 100%;
    background: white;
    width: 100vw;
    padding: 15px;
    transition: 0.3s;
    opacity: 0;
  }
  .main nav > i:hover + ul {
    display: flex;
    opacity: 1;
  }
  .main #pages > ul,
  .main #pages:hover > ul,
  .main #pages i {
    display: none;
  }
}
.main .text {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}
.main h1 {
  font-size: 4em;
  text-align: center;
  margin: 0;
  width: 80%;
}
.main p {
  margin: 35px;
  font-size: 1.3em;
}
.main button {
  transition: 0.3s;
  border-radius: 25px;
  border: 1px solid var(--font-color);
  background: transparent;
}
.main button:hover {
  background: var(--font-color);
}
.main button a {
  transition: 0.3s;
}
.main button:hover a {
  color: white;
}
.main button a {
  padding: 15px 50px;
  display: block;
}
/* responsive main text */
@media (max-width: 992px) {
  .main h1 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main .text {
    height: 70%;
  }
  .main h1 {
    font-size: 2em;
  }
  .main p {
    margin: 20px;
    font-size: 1em;
    text-align: center;
  }
  .main button {
    border-radius: 20px;
  }
  .main button a {
    padding: 10px 40px;
    display: block;
  }
}
/* end main */
/* start responsive */
.responsive {
  background: white;
  padding: 80px 0;
}
.responsive .container {
  position: relative;
}
.responsive .text {
  max-width: 40%;
}
.responsive .text h3 {
  margin-bottom: 60px;
  font-size: 2em;
  font-weight: normal;
  color: var(--font-color);
}
.responsive .text p {
  line-height: 1.5;
  color: var(--grey);
}
.responsive img {
  max-width: 60%;
  position: absolute;
  top: -10px;
  right: 0;
}
@media (max-width: 768px) {
  .responsive {
    padding: 30px 0;
  }
  .responsive img {
    display: none;
  }
  .responsive .text {
    max-width: 100%;
  }
  .responsive .text h3 {
    margin-bottom: 35px;
  }
}
/* end responsive */
/* start services */
.services {
  padding: 60px 0;
  background-color: var(--bg-grey);
}
.services .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 60px 0;
}
.services .cards .box {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  flex: 1;
  padding: 5px;
}
.services .cards .box h4 {
  text-transform: uppercase;
  font-weight: normal;
}
.services .cards .box p {
  text-align: center;
  color: var(--grey);
  line-height: 2;
  font-size: 0.9em;
}
/* end services */
/* start status */
.status {
  padding: 60px 0;
  background: #071020 url("../images/map.png") no-repeat top center / cover;
}
.status .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: white;
  margin: 20px 0;
}
.status .text h3 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
}
.status .text p {
  text-align: center;
}
.status .text button {
  border-radius: 25px;
  background: var(--blue);
  border: none;
  transition: 0.3s;
}
.status .text button:hover {
  background-color: var(--font-color);
}
.status .text button a {
  padding: 15px 50px;
  display: block;
  color: white;
}
.status .stat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  gap: 35px;
}
.status .stat > div {
  flex: 1;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.status .stat > div span {
  font-size: 2.5em;
  color: white;
}
.status .stat > div p {
  color: var(--blue);
  font-size: 1.2em;
  text-align: center;
}
/* end status */
/* start work */
.work {
  padding: 60px 0;
}
.work .container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0;
  gap: 30px;
}
.work .box {
  min-width: 250px;
  flex: 1;
  max-width: 30%;
  position: relative;
  overflow: hidden;
  height: 280px;
}
@media (max-width: 992px) {
  .work .box {
    max-width: 50%;
    min-width: 300px;
  }
}
@media (max-width: 768px) {
  .work .box {
    max-width: 100%;
  }
}
.work .box img {
  width: 100%;
  height: 100%;
}
.work .box .slide {
  position: absolute;
  z-index: 2;
  width: 65%;
  height: 100%;
  background: var(--bg-grey);
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--font-color);
  left: -65%;
  transition: 0.4s;
}
.work .box:hover .slide {
  left: 0;
}
.work .box .slide p {
  font-size: 1.1em;
  transition-delay: 0.3s;
  transition-duration: 0.1s;
  opacity: 0;
}
.work .box:hover .slide p {
  opacity: 1;
}
.work .box .slide i {
  align-self: end;
  font-size: 22px;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid var(--font-color);
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.work .box .slide i:hover {
  background-color: var(--font-color);
  color: var(--bg-grey);
}
/* end work */
/* start email */
.email {
  background: white;
  margin: 80px 0;
  color: var(--font-color);
}
.email p {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
}
.email form {
  margin: 0 auto;
  border: 1px solid var(--bg-grey);
  padding: 10px 15px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  width: 400px;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .email form {
    width: 85vw;
  }
}
.email input[type="email"] {
  border: none;
  width: 70%;
}
.email input[type="email"]:focus {
  background: var(--bg-grey);
  box-shadow: 18px 18px 0 200px var(--bg-grey);
}
.email input[type="submit"] {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  background: var(--green);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.email input[type="submit"]:hover {
  background-color: var(--font-color);
}
/* end email */
/* start footer */
footer {
  padding: 60px 0;
  background: var(--bg-grey);
  color: var(--font-color);
}
footer .info {
  margin: 0 0 30px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer .info {
    flex-direction: column;
  }
}
footer .info > * {
  flex: 0 1;
  min-width: fit-content;
}
footer .info .text a {
  color: var(--font-color);
  font-size: 20px;
}
footer .info .text a span {
  font-weight: bold;
}
footer .info .text p:first-of-type {
  margin: 20px 0;
}
footer .info .text p {
  color: var(--grey);
  line-height: 1.5;
  width: 250px;
}
footer .info .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .info .contact li {
  position: relative;
  width: 220px;
}
footer .info .contact li:not(:first-child) {
  padding-left: 30px;
  color: var(--grey);
}
footer .info .contact li:not(:first-child) {
  color: var(--grey);
}
footer .info .contact li:not(:first-child) a,
footer .info .sections li:not(:first-child) a {
  transition: 0.3s;
  color: var(--grey);
}
footer .info .contact li:not(:first-child) a:hover,
footer .info .sections li:not(:first-child):hover a {
  color: var(--green);
}
footer .info .contact li:not(:first-child) i {
  position: absolute;
  left: 5px;
}
footer .info .sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .copyright {
  border-top: 1px solid var(--grey);
  margin: 80px 0 0;
  padding: 40px 0 0;
}
footer .copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  footer .info .contact,
  footer .info .sections {
    gap: 20px;
  }
  footer .copyright .container {
    flex-direction: column;
    gap: 20px;
  }
}
footer .copyright .social {
  display: flex;
  gap: 20px;
}
footer .copyright .social a {
  display: block;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid;
  transition: 0.3s;
}
footer .copyright .social a.t {
  color: var(--blue);
  border-color: var(--blue);
}
footer .copyright .social a.f {
  color: #2196f3;
  border-color: #2196f3;
}
footer .copyright .social a.p {
  color: #af0f0f;
  border-color: #af0f0f;
}
footer .copyright .social a.l {
  color: #3f3fee;
  border-color: #3f3fee;
}
footer .copyright .social a.t:hover {
  background-color: var(--blue);
}
footer .copyright .social a.f:hover {
  background-color: #2196f3;
}
footer .copyright .social a.p:hover {
  background-color: #af0f0f;
}
footer .copyright .social a.l:hover {
  background-color: #3f3fee;
}
footer .copyright .social a:hover {
  color: var(--bg-grey);
}
footer .copyright .social i {
  width: 15px;
  height: 15px;
  display: grid;
  justify-items: center;
}
footer .copyright .brand span {
  display: block;
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
}
/* end footer */
